:root {
--white: hsl(0, 0%, 100%);
--grey: hsl(0, 0%, 50%);
--black: hsl(0, 0%, 7%);
--yellow: hsl(47, 88%, 63%);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
}

* {
    font-family: "Figtree";
}

.account, .learn, .published, .link, .info {
    margin-left: 16px;
}

main {
    max-width: 370px;
    border: 1px solid  black;
    border-radius: 15px;
    box-shadow: 15px 15px black;
    background-color: var(--white);
}

.illustration-img {
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 16px;
}

.learn {
    background-color: var(--yellow);
    width: fit-content;
    line-height: 25px;
    border-radius: 4px;
    padding: 0 10px;
    font-weight: 900;
    font-size: small;
}

.published {
    font-weight: 600;
    font-size: 0.9rem;
}

a {
    font-size: small;
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--yellow);
    cursor: pointer;
}

.info {
    color: var(--grey);
}

.account {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.account img {
    width: 30px;
    height: 30px;
}

.account p {
    font-size: smaller;
    font-weight: 800;
    padding-left: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer a {
    color: red;
    font-weight: 800;
}

footer a:hover {
    color: white;
}